<h1 style="padding: 20px; text-align: center">Thank you!</h1>

<p>Under the scope of the agreement, NECP will provide a digital banking and payment technology solution that will enable AppTech to extend its product offering to include flexible, scalable, and secure payment acceptance and issuer payment processing. Through the deployment of NECP’s technologies, AppTech will be empowered to drive the digitization of business and consumer payments flows and migrate cash, along with other legacy payment types to distanced, contactless card, and real-time payment transactions.</p>


<p>
  <%= link_to 'Go back' , index_homepage_path%>
</p>